# GitHub integration modules:
PyGithub==1.58
GitPython==3.1

# Markdown visualization modules:
pytz==2022.7
humanize==4.6.0

# Graphs drawing modules:
matplotlib
numpy

# Request making and response parsing modules:
httpx
PyYAML

# Codestyle checking modules:
flake8
black